@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");
.navbar {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  color: antiquewhite;
  padding: 10px;
}
.container {
  background-color: rgb(206, 200, 21);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;

  text-align: center;
  font-family: "Jura", sans-serif;
}
.thefooter {
  align-items: center;
}
* {
  box-sizing: border-box;
}
.navlinks {
  text-decoration: none;
}
.winnings{
    font-size: 2rem;
    color:chocolate;
}